/*
      Created by Keith Donegan of Code-Sucks.com
	  
	  E-Mail: Keithdonegan@gmail.com
	  
	  You can do whatever you want with these layouts,
	  but it would be greatly appreciated if you gave a link
	  back to http://www.code-sucks.com
	  
*/

* {
	padding: 0;
	margin: 0;
	list-style: none;
	color: #333;	
}

a{
	text-decoration: none;
	display: block;
	color: #333;
}

a:hover {
	font-weight: bold;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

#wrapper {
	margin: 0 auto;
	width: 922px;
	position: relative;
}

#header {	
	width: 100%;
	color: #333;
	height: 100px;
	margin-bottom: 5px;
	background-color: #f5f1ef;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
}

#header h1 {
	float: left;
	margin-top: 27px;
	font-size: 50px;
	padding-left: 30px;
	font-style: oblique;
	text-decoration: overline;
	
}
.top-nav {
	width: 700px;
	float: right;
	margin-top: 40px;	
	position: relative;
}

.top-nav ul {
	padding-top:20px;
	height: 50px;	
	box-sizing: border-box;
	width: 700px;
}

.top-nav li {
	float: left;
	text-align: center;
	width: 25%;
}

.top-nav a {
	font-size:18px;
}

#header form input[type=text] {
	width: 100px;
	background: none;
	border: none;
	border-bottom: 1px solid #333;
}
#header form input[type=password] {
	width: 100px;
	background: none;
	border: none;
	border-bottom: 1px solid #333;
}

#header form input[type=submit] {
	border: none;
	background: none;
	cursor: pointer;
	font-style: italic;
}

.login {
	position: absolute;
	top: 0;
	right: 10px;
	margin-top: 10px;
	width: 310px;
}

.login p {
	display: block;
	float: left;
	padding-left: 70px;
}
.btn-logout {
	border: none;
	background: none;
	cursor: pointer;
	font-style: italic;
	float: right;
	display: block;
}

#leftcolumn {
	
	color: #333;
	border: 1px solid #ccc;
	background: #E7DBD5;
	margin: 0px 5px 5px 0px;
	padding: 10px;
	height: 350px;
	width: 195px;
	float: left;
}

#Contents {
	float: right;
	color: #333;
	border: 1px solid #ccc;
	background: #F2F2E6;
	margin: 0px 0px 5px 0px;
	padding: 10px;
	height: 350px;
	width: 678px;
	display: inline;
}

#Contents form {
	width: 260px;
	margin-left: 10px;
}

#Contents form label {
	display: block;
	padding-bottom: 20px;
	clear: both;
	padding-left: 10px;
}

#Contents form >label input[type="text"],input[type="password"],button {
	float: right;
}

label input[type="radio"]:first-child{
	margin-left: 35px;
}

label input[type="radio"]:last-child{
	margin-left: 10px;
}


#Contents th{
	text-align: center;
}

.btn {
	width: 100%;
}



#footer {
	width: 900px;
	clear: both;
	color: #333;
	border: 1px solid #ccc;
	background: #BD9C8C;
	margin: 0px 0px 10px 0px;
	padding: 10px;
}

.super{
	height: 450px;
	padding: 15px;
	padding-top: 100px;
	background:#E7DBD5;
	text-align: center;
	box-sizing: border-box;
}